:root {
  // Primary
  --primary: #000929;
  --secondary: #100a55;
  --terciary: #001619b2;

  --gray-light: #f0effb;
  --gray-medium: #9EA3AE;
  --gray: #6c727f;

  --purple: #7065f0;
  --purple-light: #f7f7fd;
  --purple-shade: #e0def7;
  --purple-tint: #5245ed;

  --white: #fff;
}
